{{!-- <form action="/users/category" method="post">
    <h1>Category input</h1>
    <input type="number" name="categoryId">
    <input type="text" name="categoryName">
    <button type="submit">Add Category</button>
</form>
{{#if bookError }}
    <p style="color: #d30547;font-family: Lato, sans-serif;font-size: 16px;"><i class="icon-close" style="font-weight: bold;font-size: 17px;"></i>  {{bookError}}</p>
{{/if}}
{{#if error }}
    <p style="color: #d30547;font-family: Lato, sans-serif;font-size: 16px;"><i class="icon-close" style="font-weight: bold;font-size: 17px;"></i>  {{error}}</p>
{{/if}}

<a href="/users/profile">Profile</a>

{{#each contents}}
<h1>{{ this.categoryId }}: {{ this.categoryName }}</h1>
{{/each}} 
 --}}

<nav class="navbar navbar-light navbar-expand-md">
    <div class="container-fluid"><a class="navbar-brand d-md-flex justify-content-md-center align-items-md-center" href="#" style="font-family: Poppins, sans-serif;"><img class="img-fluid" src="/images/casual-life-3d-avatar-with-man-in-green-shirt-and-orange-hat.png" width="50" height="50" />
            <h6 style="margin-bottom: 0px;margin-left: 8px;">Hi, {{user.firstName}}</h6>
        </a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link active" href="#" style="font-family: Poppins, sans-serif;">Books</a></li>
                <li class="nav-item"><a class="nav-link active" href="/users/profile" style="font-family: Poppins, sans-serif;">Profile</a></li>
                <li class="nav-item"><a class="nav-link active" href="/auth/logout" style="font-family: Poppins, sans-serif;color: rgb(229,5,58);">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>