<nav class="navbar navbar-light navbar-expand-md py-3">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/users/profile"><span class="bs-icon-sm d-flex justify-content-center align-items-center me-2 bs-icon"><img class="img-fluid" src="/images/casual-life-3d-avatar-with-man-in-green-shirt-and-orange-hat.png" /></span><span style="font-family: Poppins, sans-serif;">Hi, {{user.firstName}}</span></a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-3" class="collapse navbar-collapse">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link active" href="/library/books" style="font-family: Lato, sans-serif;">Books</a></li>
                <li class="nav-item"><a class="nav-link active" href="/library/publication" style="font-family: Lato, sans-serif;color: #053cd3;font-weight: bold">Publications</a></li>
                <li class="nav-item"><a class="nav-link active" href="/library/category" style="font-family: Lato, sans-serif;">Categories</a></li>
            </ul><a href="/auth/logout" class="btn btn-danger btn-sm" role="button" style="font-family: Roboto, sans-serif;background: #e5053a;font-size: 17px;letter-spacing: .4px;border-style: none;">Logout</a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 2rem;">
    <h2 style="font-family: Lato, sans-serif;margin-bottom: 1rem;">Add Publications.</h2>
    <div class="row">
        <div class="col-md-4" style="margin-bottom: 2rem;">
            <form action="/library/publication" method="post">
                <input class="form-control" type="number" name="publicationId" placeholder="Enter Publication ID." style="font-family: Roboto, sans-serif;margin-top: 10px;margin-bottom: 5px;" />
                <input class="form-control" type="text" name="publicationName" placeholder="Enter Publication Name." style="font-family: Roboto, sans-serif;margin-bottom: 10px;" />
                <div class="d-grid">
                    <button class="btn btn-primary btn-sm d-md-flex justify-content-md-center align-items-md-center" type="submit" style="font-family: Roboto, sans-serif;background: #0051ba;font-size: 17px;letter-spacing: .4px;border-style: none;">Add Publication</button>
                </div>
            </form>
            {{#if message }}
                <p style="color: #d30547;font-family: Lato, sans-serif;font-size: 16px;"><i class="icon-close" style="font-weight: bold;font-size: 17px;"></i>  {{message}}</p>
            {{/if}}
        </div>
        <div class="col-md-7 offset-md-1">
            <div class="table-responsive">
                <table class="table">
                    <thead style="font-family: Lato, sans-serif;">
                        <tr>
                            <th>Publication ID</th>
                            <th>Publication Name</th>
                            <th>No. of Books</th>
                            <th class="text-center">Actions</th>
                        </tr>
                    </thead>
                    <tbody style="font-family: Roboto, sans-serif;">
                        {{#each contents}}
                            <tr>
                                <td>{{ this.publicationId }}</td>
                                <td>{{ this.publicationName }}</td>
                                <td>
                                {{#each this.books }}
                                <a href="/library/books/{{this._id}}">{{this.bookTitle}}</a><br>
                                {{/each}}
                                </td>
                                <td>
                                    <div class="d-flex d-md-flex justify-content-around align-items-center align-items-md-center">
                                        <a href="/library/publication/update/{{this._id}}" class="btn btn-sm" type="button">
                                            <i class="icon-pencil" data-bs-toggle="tooltip" style="font-size: 18px;color: #0051ba;" title="Edit"></i>
                                        </a>
                                        <a href="/library/publication/delete/{{this._id}}" class="btn btn-sm" type="button">
                                            <i class="icon-trash" data-bs-toggle="tooltip" style="font-size: 18px;color: #e5053a;" title="Delete"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>